<app-menu></app-menu>
<div class="container-fluid corPerifa">
    <div class="jumbotron jumbotron-fluid" style="background-color: #FAE977">
      <div class="container d-flex justify-content-center d-flex align-items-center">
        <img src="../../assets/img/hamburgueria/VOVO LOGO.png" alt="" height="250" width="300"
        />
        <!-- no campo src colocar algo do tipo {{fornecedor.foto}}  -->
        <h1 class="ml-50">HAMBURGUERIA DO VOVÓ</h1>
        <!-- trocar Nome da loja por algo semelhante a {{fornecedor.nome}} -->
      </div>
    </div>
  </div>
  <!--CARDS NOVOS-->
  <!-- <div class="row w-100 d-flex justify-content-center ">
      <div class="flex-wrap col-md-9 d-flex justify-content-center mb-5">
        <div class="col">
          <div class="card corFundo" style="width: 100%;" >
            <img src="../../assets/img/hamburgueria/batataFrita.jpg" height="250px" right="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Batata frita</h5>
              <p class="card-text">Deliciosamente crocante</p>
              <h5 class="card-text">R$ 9,00</h5>
              <a routerLink="/carrinho" class="card-link fc fa fa-plus-circle fa-3x ml-140" aria-hidden="true"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card corFundo" style="width: 100%;" >
            <img src="../../assets/img/hamburgueria/calabresaPorcao.png" height="250px" right="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Porção de calabresa</h5>
              <p class="card-text">Com limão e sal</p>
              <h5 class="card-text">R$ 19,99</h5>
              <a routerLink="/carrinho" class="card-link fc fa fa-plus-circle fa-3x ml-140" aria-hidden="true"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card corFundo" style="width: 100%;">
            <img src="../../assets/img/hamburgueria/cocacola.jpg" height="250px" right="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Coca 350ml</h5>
              <p class="card-text">.</p>
              <h5 class="card-text">R$ 5,99</h5>
              <a routerLink="/carrinho" class="card-link fc fa fa-plus-circle fa-3x ml-140" aria-hidden="true"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card corFundo" style="width: 100%;" >
            <img src="../../assets/img/hamburgueria/hamburguer.jpeg" height="250px" right="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">X-Burguer</h5>
              <p class="card-text">Com deliciosas fatias de bacon</p>
              <h5 class="card-text">R$ 23,50</h5>
              <a routerLink="/carrinho" class="card-link fc fa fa-plus-circle fa-3x ml-140" aria-hidden="true"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-wrap col-md-9 d-flex justify-content-center mb-5">
        <div class="col">
          <div class="card corFundo" style="width: 100%;" >
            <img src="../../assets/img/hamburgueria/hamburguerBacon.jpg" height="250px" right="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ULTRA X4</h5>
              <p class="card-text">Especial da casa.</p>
              <h5 class="card-text">R$ 35,99</h5>
              <a routerLink="/carrinho" class="card-link fc fa fa-plus-circle fa-3x ml-140" aria-hidden="true"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card corFundo" style="width: 100%;" >
            <img src="../../assets/img/hamburgueria/sprite.jpg" height="250px" right="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sprite</h5>
              <p class="card-text">;</p>
              <h5 class="card-text">R$ 4,49</h5>
              <a routerLink="/carrinho" class="card-link fc fa fa-plus-circle fa-3x ml-140" aria-hidden="true"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card corFundo" style="width: 100%;" >
            <img src="../../assets/img/hamburgueria/sucoLaranja.jpg" height="250px" right="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Suco de laranja</h5>
              <p class="card-text">100% natural</p>
              <h5 class="card-text">R$ 8,99</h5>
              <a routerLink="/carrinho" class="card-link fc fa fa-plus-circle fa-3x ml-140" aria-hidden="true"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card corFundo" style="width: 100%;" >
            <img src="../../assets/img/hamburgueria/sucoMorango.jpg" height="250px" right="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Suco de morango</h5>
              <p class="card-text">Irresistivelmente gelado</p>
              <h5 class="card-text">R$ 8,99</h5>
              <a routerLink="/carrinho" class="card-link fc fa fa-plus-circle fa-3x ml-140" aria-hidden="true"></a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row w-100 d-flex justify-content-center ">
      <div class="flex-wrap col-md-12 d-flex justify-content-center mb-5">
        <div class="card corFundo mx-4 mb-5 " style="width: 20%;" *ngFor='let produto of categoria.produto'>
          <img src="{{produto.imagem_produto}}" class="card-img-top" alt="{{produto.nome}}">
          <div class="card-body">
            <h5 class="card-title">{{produto.nome}}</h5>
            <p class="card-text fs-descricao">{{produto.descricao}}</p>
            <h5 class="card-text">{{produto.precoUnitario | currency: 'BRL' }}</h5>
            <a class="card-link fc fa fa-plus-circle fa-3x ml-140 pointer" aria-hidden="true" (click)='addCarrinho(produto.id)'></a>
          </div>
      
    
        </div>
      </div>
      <button type="button" class="btn btn-success mb-5" routerLink='/carrinho'>Ir para o carrinho</button>
    </div>
    <app-rodape></app-rodape>