<div class="container-fluid ">
    <div class="row  ">
        <div class="col-md-12 bg-white mb-3">
            <li class="d-flex justify-content-between">
                <!-- TEM QUE TROCAR OS LINKS -->
                <div class="col-md-2 ">
                    <a href="#servico" >
                    <img src="../../assets/img/servicosGerais (1).png" alt="serviços gerais" >
                    </a>
                </div>
                     
                <div class="col-md-2">
                    <a href="#mercearia" >
                    <img src="../../assets/img/merceariaLogo (1).png" alt="mercearias" >
                    </a>
                </div>

                <div class="col-md-2">
                    <a href="#farmacia" >
                    <img  src="../../assets/img/farmacias (1).png" alt="farmácias" >
                    </a>
                </div>

                <div class="col-md-2">
                    <a href="#restaurante" >
                    <img src="../../assets/img/comidasEBebidas (1).png" alt="comidas e bebidas" >
                    </a>
                </div>

                <div class="col-md-2">
                    <a href="#padaria" >
                    <img src="../../assets/img/padaria.JPG" alt="padarias" >
                    </a>
                </div>

            </li>
        </div>
    </div>
</div>