<div class="container-fluid ">
    <div class="row  ">
        <div class="col-md-12 bg-white mb-3">
            <li class="d-flex justify-content-between">
                <!-- TEM QUE TROCAR OS LINKS -->
                <div class="col-md-2 ">
                    <img src="../../assets/img/servicosGerais (1).png" alt="serviços gerais" [routerLink]="['/servicos-gerais']" routerLinkActive="router-link-active"  >
                </div>
                     
                <div class="col-md-2">
                    <img src="../../assets/img/merceariaLogo (1).png" alt="mercearias" [routerLink]="['/mercearia']" routerLinkActive="router-link-active" >
                </div>

                <div class="col-md-2">
                    <img  src="../../assets/img/farmacias (1).png" alt="farmácias" [routerLink]="['/componente-loja-farmacia']" routerLinkActive="router-link-active" >
                </div>

                <div class="col-md-2">
                    <img src="../../assets/img/comidasEBebidas (1).png" alt="comidas e bebidas" [routerLink]="['/restaurante']" routerLinkActive="router-link-active" >
                </div>

                <div class="col-md-2">
                    <img src="../../assets/img/padaria.JPG" alt="padarias" [routerLink]="['/padaria']" routerLinkActive="router-link-active" >
                </div>

            </li>
        </div>
    </div>
</div>