<footer class="page-footer font-small py-4" style="background-color:  #fae977">
    <div class="container-fluid">

        <div class="row d-flex justify-content-space-between">
            <div class="col-md-4">
                <div class="div">

                    <div class="row d-flex justify-content-center">
                        <h4 class="text-dark fs">Siga-nos nas redes sociais</h4>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <ul class="social-network">
                            <li>
                                <a href="https://www.facebook.com/generationbrasil
                            " target="_blank" class="icoFacebook">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/generationbrasil/
                            " target="_blank" class="icoInstagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/i-nunes/projetointegrador" target="_blank" class="icoLinkedin">
                                    <i class="fa fa-github fagit" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                   

                </div>
            </div>


                <div class="col-md-4 d-flex align-items-end justify-content-center">

                    <div class="footer-copyright fs-10">
                        <span class="text-dark"> ©2021 Copyright</span>
                    </div>

                </div>


                <!--SEGUNDA COLUNA-->
            <div class="col-md-4">
                <div class="div">

                    <div class="row d-flex justify-content-center">
                        <div class="footer fs">
                            <h4 class="text-dark fs">Fique por dentro de novas ofertas!</h4>
                        </div>
                    </div>
                    
                    <div class="row d-flex justify-content-center mtper">
                        <form class="form-inline">
                          
                            <label class="sr-only" for="inlineFormInputGroupUsername2">Digíte seu melhor e-mail</label>
                            <div class="input-group m-0">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><img src="https://i.imgur.com/8pnES2d.png" alt="" height="20px" width="25px"></div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Digíte seu melhor e-mail">
                            </div>
                          
                          
                            <button type="reset" class="btn btn-dark m-0 fs-11" (click)="enviarEmail()">Enviar</button>
                            
                          </form>
                        </div>

                </div>
            </div>


        </div>
        



    </div>


</footer>