<footer class="page-footer font-small py-4" style="background-color:  #fae977">
    <div class="container">




        <div class="col-md-6">
            <div class="div">

                <div class="row d-flex justify-content-center">
                    <h4 class="text-dark">Siga-nos nas redes sociais</h4>
                </div>

                <div class="row d-flex justify-content-center">
                    <ul class="social-network">
                        <li>
                            <a href="https://www.facebook.com/generationbrasil
                        " target="_blank" class="icoFacebook">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/generationbrasil/
                        " target="_blank" class="icoInstagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/i-nunes/projetointegrador" target="_blank" class="icoLinkedin">
                                <i class="fa fa-github fagit" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="footer-copyright fs-10">
                        <span class="text-dark"> ©2021 Copyright</span>
                    </div>
                </div>

            </div>
        </div>




    </div>


</footer>