.mtper{
    margin-top: 14px;
}

.fs-11{
    font-size: 11pt;
}

.fs{
    font-size: 16pt;
}
/* Usando a classe abaixo para definir como o bloco das redes sociais serão exibidos */
ul.social-network li{
    display: inline;    
}
ul.social-network {
    padding: 0px;    
}

/* usando a classe abaixo para definir como os ícones das redes sociais serão exibidos */
.fa{
    font-size: 50pt;
    color: black;
    margin: 5px
}

ul.social-network {
    list-style: none;
    padding: 0%;
}
ul.social-network  li {
    display: inline;
    margin: 0;
    padding: 5px;
}
.fa {
    font-size: 35pt;
    color: rgb(27, 22, 22);
    padding: 5px;
}
.fa-facebook-square:hover {
    color: #3B5998;
}
.fa-instagram:hover {
color: #C13584;
}
.fagit:hover {
    color: #0072B1;
}

.fs-10{
    font-size: 10pt;
}