<footer class="page-footer font-small py-4" style="background-color:  #fae977">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="div">

                    <div class="row d-flex justify-content-center">
                        <h4 class="text-dark fs">Siga-nos nas redes sociais</h4>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <ul class="social-network">
                            <li>
                                <a href="https://www.facebook.com/generationbrasil
                            " target="_blank" class="icoFacebook">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/generationbrasil/
                            " target="_blank" class="icoInstagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/i-nunes/projetointegrador" target="_blank" class="icoLinkedin">
                                    <i class="fa fa-github fagit" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="footer-copyright fs-10">
                            <span class="text-dark"> ©2021 Copyright</span>
                        </div>
                    </div>

                </div>
            </div>

                <!--SEGUNDA COLUNA-->
            <div class="col-md-6">
                <div class="div">

                    <div class="row d-flex justify-content-center">
                        <div class="footer fs">
                            <h4 class="text-dark fs">Fique por dentro de novas ofertas!</h4>
                        </div>
                    </div>
                    
                    <div class="row d-flex justify-content-center">
                        <form class="form-inline">
                          
                            <label class="sr-only" for="inlineFormInputGroupUsername2">Digíte seu melhor e-mail</label>
                            <div class="input-group mb-2 mr-sm-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Digíte seu melhor e-mail">
                            </div>
                          
                          
                            <button type="submit" class="btn btn-dark mb-2"><h6>Enviar</h6></button>
                            
                          </form>
                        </div>

                </div>
            </div>


        </div>



        



    </div>


</footer>