
    .container-fluid {
      background-image: url('https://i.imgur.com/ICIEWiW.jpg' );
      min-height: 400px;
    
      background-image: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .img-logo{
        background-image: url('https://i.imgur.com/VzPaEF9.png?1');
        max-width: 100px;
        max-height: 10px;
    }

    .jumbotron {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }