html{
    scroll-behavior: smooth;
}

.jumbotron {
    background-color: transparent !important;
}

.corPerifa{
  background-color:  #FAE977;
}

.fs-20
{
  font-size: 100px;
}

.card-img-top{
  width: 324px;
  height: 324px;
}

.fs-descricao{
  font-size: 16pt;
}



