<app-menu></app-menu>
<!--FORMULARIO DE CONTATO-->
<!--<div class="container d-flex justify-content-center my-3 border pr-20 pt-3">
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-12">
      <h4 class="text-center">Entre em contato conosco!</h4>
    </div>
  </div>
  <div class="row d-flex align-items-center d-flex justify-content-center">
    <div class="col-md-6 ">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Endereço de email</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="nome@exemplo.com"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Exemplo de text area</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group d-flex justify-content-end">
          <div class="btn btn-outline-success">Enviar</div>
        </div>
      </form>
    </div>
    <div class="col-md-6 d-flex justify-content-center mb-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.9374419811693!2d-46.647491585383605!3d-23.570690167821155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce592b58de3cdd%3A0x69a982daeb0e8a12!2sCasa%20das%20Rosas!5e0!3m2!1spt-BR!2sbr!4v1610728501551!5m2!1spt-BR!2sbr"
        width="590"
        height="350"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </div>
</div>
</div>-->
<!--FORMULARIO DE CONTATO-->
<!--CARDS DE CONTATO-->
<h4 class="text-center texto mt-5">Nossa Equipe:</h4>
<div class="container">
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--DAYANE-->
      <div class="card-image profile-img--two">
        <img
          src="https://images-ext-2.discordapp.net/external/N4dBaRD5nfmTFnHaJcAz0QLTBtf5qBnkDogRXOpccN0/https/i.imgur.com/vfcvtgJ.jpg?width=304&height=300"
          alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/Dayaneoliveira" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/DayaneEpifanio/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Dayane Oliveira
          <br>
          <span class="job-title">Desenvolvedora Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--EVERSON-->
      <div class="card-image profile-img--two">
        <img src=" https://i.imgur.com/brpKOXq.jpg" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/everson-silva" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/eversonmessias" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Everson Silva
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
</div><!-- END container -->
<div class="container">
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--IURI-->
      <div class="card-image profile-img--two">
        <img src="https://i.imgur.com/Idz0yRO.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/i-nunes" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/i-nunes/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Iuri Nunes
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <!-- LARISSA -->
        <img src="https://i.imgur.com/jww3vvd.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/Larissaribeiro03" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/larissa-ribeiro-2b768257/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Larissa Moraes
          <br>
          <span class="job-title">Desenvolvedora Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
  <!--CARDS DE CONTATO-->
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--RICARDO-->
      <div class="card-image profile-img--two">
        <img src="https://i.imgur.com/wBSPde9.jpg" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/RicardoMagalhaesRFinkelstein" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ricfinkelstein/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Ricardo M.R.F
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
</div>
<div class="container">
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <!-- DENIS -->
        <img src="https://imgur.com/aDmgcA7.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/DenisVini/" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/denis-vinicius-bolla-da-silva-811b221b6/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Denis Bolla
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <!-- RAUL -->
        <img src="https://i.imgur.com/xkXrzqc.jpg" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/raulogus" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/raul-fernandes-7828a0204/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Raul Fernandes
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
</div>
<!-- END container -->
<app-rodape></app-rodape>