<app-menu></app-menu>
<div class="container-fluid corPerifa">
  <div class="jumbotron jumbotron-fluid" style="background-color: #FAE977">
    <div class="container d-flex justify-content-center d-flex align-items-center ajuste">
      <!-- no campo src colocar algo do tipo {{fornecedor.foto}}  -->
      <p class="mt-5 fs-46 font-weight-bold">SOBRE NÓS</p>
      <!-- trocar Nome da loja por algo semelhante a {{fornecedor.nome}} -->
    </div>
  </div>
</div>

<div class="col-md-12 d-flex justify-content-center fs-26">
<div class="col-md-6">
<p class="text-justify mt-5">Hoje em dia vemos muitos aplicativos de delivery, que une você a diversos comércios. E nós moradores de periferia e comunidades, não temos acesso muitas vezes à entregas de pedidos, e viemos com a idéia de colocar todos as vertentes comerciais do seu bairro, à nossa aplicação. Perifa Buy veio para conectar cada vez mais as comunidades.</p></div></div>


<!--CARDS DE CONTATO-->

<h4 class="text-center texto mt-5 fs-38 font-weight-bold">Nossa Equipe:</h4>

  <div class="container posicionamento">

    <div class="card-wrapper">
      <div class="card profile-two ajuste ">
        <!--DAYANE-->
        <div class="card-image profile-img--two">
          <img
            src="https://images-ext-2.discordapp.net/external/N4dBaRD5nfmTFnHaJcAz0QLTBtf5qBnkDogRXOpccN0/https/i.imgur.com/vfcvtgJ.jpg?width=304&height=300"
            alt="profile two" width="300" height="300">
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://github.com/Dayaneoliveira">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/DayaneEpifanio/">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <div class="details jane">
          <h2 class="fsNomes mt-1">Dayane Oliveira
            <br>
            <span class="job-title fsdescricao">Desenvolvedora Web Java Jr. Full Stack</span>
          </h2>
        </div>

<h4 class="text-center texto mt-5">Nossa Equipe:</h4>
<div class="container">
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--DAYANE-->
      <div class="card-image profile-img--two">
        <img
          src="https://images-ext-2.discordapp.net/external/N4dBaRD5nfmTFnHaJcAz0QLTBtf5qBnkDogRXOpccN0/https/i.imgur.com/vfcvtgJ.jpg?width=304&height=300"
          alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/Dayaneoliveira" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/DayaneEpifanio/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Dayane Oliveira
          <br>
          <span class="job-title">Desenvolvedora Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--EVERSON-->
      <div class="card-image profile-img--two">
        <img src=" https://i.imgur.com/brpKOXq.jpg" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/everson-silva" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/eversonmessias" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Everson Silva
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
</div><!-- END container -->
<div class="container">
  <div class="card-wrapper">
    <div class="card profile-two">
      <!--IURI-->
      <div class="card-image profile-img--two">
        <img src="https://i.imgur.com/Idz0yRO.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/i-nunes" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/i-nunes/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Iuri Nunes
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>
      </div>
    </div>
  </div><!-- END box wrapper -->
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <!-- LARISSA -->
        <img src="https://i.imgur.com/jww3vvd.png" alt="profile two" width="300" height="300">
      </div>
      <ul class="social-icons">
        <li>
          <a href="https://github.com/Larissaribeiro03" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/larissa-ribeiro-2b768257/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Larissa Moraes
          <br>
          <span class="job-title">Desenvolvedora Web Java Jr. Full Stack</span>
        </h2>

      </div>
    </div><!-- END box wrapper -->

    <div class="card-wrapper">
      <div class="card profile-two ajuste">
        <!--EVERSON-->
        <div class="card-image profile-img--two">
          <img src=" https://i.imgur.com/brpKOXq.jpg" alt="profile two" width="300" height="300">
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://github.com/everson-silva">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/eversonmessias">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <div class="details jane">
          <h2 class="fsNomes mt-1">Everson Silva
            <br>
            <span class="job-title fsdescricao">Desenvolvedor Web Java Jr. Full Stack</span>
          </h2>
        </div>
      </div>

    </div><!-- END box wrapper -->

  </div><!-- END container -->

  <div class="container posicionamento">
    <div class="card-wrapper">
      <div class="card profile-two ajuste">
        <!--IURI-->
        <div class="card-image profile-img--two">
          <img src="https://i.imgur.com/Idz0yRO.png" alt="profile two" width="300" height="300">
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://github.com/i-nunes">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/i-nunes/">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <div class="details jane">
          <h2 class="fsNomes mt-1">Iuri Nunes
            <br>
            <span class="job-title fsdescricao">Desenvolvedor Web Java Jr. Full Stack</span>
          </h2>
        </div>

      <ul class="social-icons">
        <li>
          <a href="https://github.com/RicardoMagalhaesRFinkelstein" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ricfinkelstein/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Ricardo M.R.F
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>

      </div>
    </div><!-- END box wrapper -->

    <div class="card-wrapper">
      <div class="card profile-two ajuste">
        <div class="card-image profile-img--two">
          <!-- LARISSA -->
          <img src="https://i.imgur.com/jww3vvd.png" alt="profile two" width="300" height="300">
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://github.com/Larissaribeiro03">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/larissa-ribeiro-2b768257/">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <div class="details jane">
          <h2 class="fsNomes mt-1">Larissa Moraes
            <br>
            <span class="job-title fsdescricao">Desenvolvedora Web Java Jr. Full Stack</span>
          </h2>
        </div>
      </div>

    </div><!-- END box wrapper -->

    <!--CARDS DE CONTATO-->
    <div class="card-wrapper">
      <div class="card profile-two ajuste">
        <!--RICARDO-->
        <div class="card-image profile-img--two">
          <img src="https://i.imgur.com/wBSPde9.jpg" alt="profile two" width="300" height="300">
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://github.com/RicardoMagalhaesRFinkelstein">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ricfinkelstein/">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <div class="details jane">
          <h2 class="fsNomes mt-1">Ricardo M.R.F
            <br>
            <span class="job-title fsdescricao">Desenvolvedor Web Java Jr. Full Stack</span>
          </h2>
        </div>

      <ul class="social-icons">
        <li>
          <a href="https://github.com/DenisVini/" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/denis-vinicius-bolla-da-silva-811b221b6/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Denis Bolla
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>

      </div>
    </div><!-- END box wrapper -->
  </div>

  <div class="container posicionamento">
    <div class="card-wrapper">
      <div class="card profile-two ajuste">
        <div class="card-image profile-img--two">
          <!-- DENIS -->
          <img src="https://imgur.com/aDmgcA7.png" alt="profile two" width="300" height="300">
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://github.com/DenisVini/">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/denis-vinicius-bolla-da-silva-811b221b6/">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <div class="details jane">
          <h2 class="fsNomes mt-1">Denis Bolla
            <br>
            <span class="job-title fsdescricao">Desenvolvedor Web Java Jr. Full Stack</span>
          </h2>
        </div>
      </div>

    </div><!-- END box wrapper -->

    <div class="card-wrapper">
      <div class="card profile-two ajuste">
        <div class="card-image profile-img--two">
          <!-- RAUL -->
          <img src="https://i.imgur.com/xkXrzqc.jpg" alt="profile two" width="300" height="300">
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://github.com/raulogus">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/raul-fernandes-7828a0204/">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <div class="details jane">
          <h2 class="fsNomes mt-1">Raul Fernandes
            <br>
            <span class="job-title fsdescricao">Desenvolvedor Web Java Jr. Full Stack</span>
          </h2>
        </div>

      <ul class="social-icons">
        <li>
          <a href="https://github.com/raulogus" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/raul-fernandes-7828a0204/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <div class="details jane">
        <h2>Raul Fernandes
          <br>
          <span class="job-title">Desenvolvedor Web Java Jr. Full Stack</span>
        </h2>

      </div>
    </div><!-- END box wrapper -->
  </div>

<!-- END container -->
<app-rodape></app-rodape>