<div class="container ">
    <div class="row  ">
        <div class="col-sm bg-white">
            <li class="d-flex justify-content-between">
                <!-- TEM QUE TROCAR OS LINKS -->
                <div class="col-sm mb-5">
                    <a [routerLink]="['/servicos-gerais', 4]">
                    <img class="img-fluid mb-1" src="https://imgur.com/fpnjMnf.png" alt="serviços gerais" >
                </a>
                </div>
                <div class="col-sm ">
                    <a [routerLink]="['/mercearias', 3]">
                    <img class="img-fluid" src="https://imgur.com/KdOSJpz.png" alt="mercearias" >
                </a>
                </div>
                <div class="col-sm"> <!--LARISSA -colocado teg 'a' e router link, lembrar de ajustar no app routing module-->
                    <a [routerLink]="['/farmacia', 1]">
                    <img class="img-fluid"  src="https://imgur.com/CKknAzk.png" alt="farmácias" >
                </a>
                </div>
                <div class="col-sm ">
                    <a [routerLink]="['/restaurantes', 5]">
                    <img class="img-fluid" src="https://imgur.com/FZ3GFCg.png" alt="comidas e bebidas" ></a>
                </div>
                <div class="col-sm ">
                    <a [routerLink]="['/padarias', 2]">
                    <img class="img-fluid" src="https://imgur.com/xlPukqz.png" alt="padarias" >
                </a>
                </div>
            </li>
        </div>
    </div>
</div>