<div class="container-fluid ">
    <div class="row  ">
        <div class="col-md-12 bg-white mb-3">
            <li class="d-flex justify-content-between">
                <!-- TEM QUE TROCAR OS LINKS -->
                <div class="col-md-2 ">
                    <a [routerLink]="['/servicos-gerais', 3]">
                    <img src="../../assets/img/servicosGerais (1).png" alt="serviços gerais" >
                </a>
                </div>
                     
                <div class="col-md-2">
                    <a [routerLink]="['/mercearias', 4]">
                    <img src="../../assets/img/merceariaLogo (1).png" alt="mercearias" >
                </a>
                </div>

                <div class="col-md-2"> <!--LARISSA -colocado teg 'a' e router link, lembrar de ajustar no app routing module-->
                    <a [routerLink]="['/farmacia', 1]">
                    <img  src="../../assets/img/farmacias (1).png" alt="farmácias" >
                </a>
                </div>

                <div class="col-md-2">
                    <a [routerLink]="['/restaurantes', 4]">
                    <img src="../../assets/img/comidasEBebidas (1).png" alt="comidas e bebidas" ></a>
                </div>

                <div class="col-md-2">
                    <a [routerLink]="['/padarias', 2]">
                    <img src="../../assets/img/padaria.JPG" alt="padarias" >
                </a>
                </div>

            </li>
        </div>
    </div>
</div>