<app-menu></app-menu>
<!--Dayane Imagem forma de pagamento cifrão-->
<div class="corPerifa">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
          <img class="cifrao_imagem ajusteProduto mt-5" src="../../assets/img/forma-pagamento.png" alt="cifra 1" />
        </div>
      </div>
    </div>
  </div>
</div>

<form>
  <!--Puxar automatico cliente e seus dados cadastrados-->

  <div class="form-group col-md-12 d-flex justify-content-center">
    <label class="mx-3" for="name">Cliente Cadastrado</label>
    <h4>: {{nome}}</h4>
  </div>
  <div class="form-group col-md-12 d-flex justify-content-center">
    <label class="mx-3" for="total_compra">Total da Compra</label>
    <h4>: {{total()| currency: 'BRL'}}</h4>
  </div>


  <!--Puxar automatico cliente e seus dados cadastrados final-->
  <!--Colocar meio do texto com as duas riscas -->
  <hr />
  <p class="text-center fs-size fs-17">Nome e endereço de entrega do pedido</p>
  <hr />
  <!--Colocar meio do texto com as duas riscas final -->




  <!--Preenchimento de dados para entrega-->

  <div class="col-md-6 offset-md-3">
    <div class="form-group col-md-12 d-flex justify-content-center">
      <label class="col-md-2 placeHolderTam" for="total_compra"> Nome </label>
      <input type="nome" class="form-control" id="exampleInputtotal_nome1" aria-describedby="nomeHelp"
        placeholder="Nome para ENTREGA" />
    </div>
    <div class="form-group col-md-12 d-flex justify-content-center">
      <label class="col-md-2 placeHolderTam" for="endereco">Endereço</label>
      <input type="endereco" class="form-control" id="exampleInputendereco1" aria-describedby="enderecoHelp"
        placeholder="Digite o ENDEREÇO da entrega" />
    </div>
    <div class="form-group col-md-12 d-flex justify-content-center">
      <label class="col-md-2 placeHolderTam" for="cidade">Cidade</label>
      <input type="cidade" class="form-control" id="exampleInputcidade" aria-describedby="cidadeHelp"
        placeholder="Digite a CIDADE" />
    </div>
    <div class="form-group col-md-12 d-flex justify-content-center">
      <label class="col-md-2 placeHolderTam" for="estado">Estado</label>
      <input type="estado" class="form-control" id="exampleInputestado1" aria-describedby="estadoHelp"
        placeholder="Digite o ESTADO" />
    </div>
    <div class="form-group col-md-12 d-flex justify-content-center">
      <label class="col-md-2 placeHolderTam" for="cep">CEP</label>
      <input type="cep" class="form-control" id="exampleInputtotal_cep" aria-describedby="cepHelp"
        placeholder="Digite seu CEP" />
    </div>
    <div class="form-group col-md-12 d-flex justify-content-center">
      <label class="col-md-2 placeHolderTam" for="exampleFormControlSelect1">Forma de pagamento</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Selecione</option>
        <option>Crédito à vista</option>
        <option>Débito</option>
        <option>Dinheiro</option>
      </select>
    </div>
  </div>


</form>
<!--Preenchimento de dados para entrega final-->



<!--Botao VOLTAR E CONFIRMAR -->
<div class="d-flex justify-content-center mb-3">
  <div class="p-2">
    <button class="btn btn-danger pointer mx-5" aria-hidden="true" routerLink="/carrinho">Voltar</button>
    <label>
      <button class="btn btn-success pointer" aria-hidden="true" data-toggle="modal" data-target="#modalExemplo"
        (click)='delete()'>Confirmar</button></label>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">
          COMPRA REALIZADA COM SUCESSO
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>MOTOBOY SAINDO PARA ENTREGA EM 15 MINUTOS</p>
        <hr />
        <img src="https://i.imgur.com/7Hxadey.jpg" width="100px" alt="cifra 1" />
        <hr />
        <p class="fs-14">Pagamento a ser realizado na entrega</p>
      </div>
      <div class="modal-footer">
        <a routerLink="/inicio">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button></a>
      </div>
    </div>
  </div>
</div>

<app-rodape></app-rodape>