<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">



  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>

  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <a name="servico">
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/sacolaoPB.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">1 </h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/farmaciaPB.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Sapataria do josé</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>


        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/petShopPB.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">PetShop - Bom pra cachorro!</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/marcenariaPB.jpg" height="204px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Marcenaria do João</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>
      </a>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <a name="mercearia">
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/MerceariaPB.jpg" height="204px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Mercadinho do mineiro</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/costureiraPB.jpg" height="202px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Costura da Dona Maria</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/burgerPB.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Perifa Burger</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/Salgados da vó.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Salgados da vó</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>
      </a>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item">
      <a id="farmacia">
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/MerceariaPB.jpg" height="204px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Teste</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/costureiraPB.jpg" height="202px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Costura da Dona Maria</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/burgerPB.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Perifa Burger</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/Salgados da vó.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Salgados da vó</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.Third slide-->

    <!--Fourth slide-->
    <div class="carousel-item">
      <a name="restaurante">
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/MerceariaPB.jpg" height="204px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Mercadinho do mineiro</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/costureiraPB.jpg" height="202px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Costura da Dona Maria</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/burgerPB.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Perifa Burger</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/Salgados da vó.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Salgados da vó</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.Fourth slide-->

    <!--Fifth slide-->
    <div class="carousel-item">
      <a name="padaria">
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/MerceariaPB.jpg" height="204px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Mercadinho do mineiro</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/costureiraPB.jpg" height="202px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Costura da Dona Maria</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/burgerPB.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Perifa Burger</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="../../assets/img/Salgados da vó.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Salgados da vó</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.Fifth slide-->



  </div>
  <!--/.Slides-->

  <!--Controls-->
  <div class="controls-top d-flex justify-content-between mt-2 mb-2">
    <a class="btn btn-info ml-5" href="#multi-item-example" data-slide="prev"> <i class="fa fa-chevron-left"></i></a>
    <a class="btn btn-info mr-5" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i> </a>
  </div>
  <!--/.Controls-->

</div>
<!--/.Carousel Wrapper-->