<nav class="navbar navbar-expand-lg navbar-light corPerifa">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" routerLink="/inicio"
    ><img
      src="https://i.imgur.com/8pnES2d.png"
      alt="Imagem logo"
      width="50px"
  /></a>
<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
     <li class="nav-item active">
        <a class="navbar-brand" routerLink="/carrinho"
          ><img
            src="https://i.pinimg.com/originals/12/b0/7d/12b07d7d7dbde76a3a687552d50d397f.png"
            alt="Imagem carrinho"
            width="32px"
        /></a>
      </li>
      <li class="nav-item dropdown mr-2">              <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img
          src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png"
          alt="Imagem usuario"
          width="30px"
        />
      </a>
      <div
        class="dropdown-menu "
        aria-labelledby="navbarDropdownMenuLink"
      >
        <a class="dropdown-item" routerLink="/entrar">Entre</a>
        <a class="dropdown-item" routerLink="/cadastro-usuario"
          >Cadastre-se</a
        >
        <a class="dropdown-item" href="#">Sair</a>
      </div>
    </li>
    <li class="nav-item" *ngIf="mostrarNome()">
      <a class="nav-link">{{nome}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mr-3" routerLink="/contato">Contato</a>
    </li>
    </ul>
  </div>
</nav>