<!-- Ricardo -->
<footer class="page-footer font-small pt-4" style="background-color:  #fae977">
    <div class="container " >
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network ">
                    <!-- Falta criar perfis de facebook e instagram. Pro github, usei o repositório -->
                    <li>
                        <a href="" target="_blank" class="icoTwitter">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href=""target="_blank" class="icoTwitter">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/i-nunes/projetointegrador/tree/main/produto"target="_blank" class="icoTwitter">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
        <!-- Caso optemos por fazer modal, é só trocar o a. Por enquanto, pensei em fazer outra página 
        <div class="col-md-12 d-flex justify-content-center fs">
            <a href="">Sobre Nós</a>
        </div>
        -->
    </div>
    
    <div class="footer-copyright text-center fs py-3">
        <span class="text-dark"> ©2021 Copyright</span>
    </div>

</footer>
<!-- /Ricardo -->